.none {
	display: none !important;
}
main {
	overflow-x: hidden;
}

.visually-hedden {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	width: 0;
	height: 0;
	display: block;
	margin-left: -10000px;
	background: transparent;
	font-size: 0;
}

.container {
	width: 1416px;
	padding: 0 12px;
	margin: 0 auto;
	overflow-x: hidden;
}

.no-scroll {
	overflow: hidden;
}

@media (max-width: 1439px) {
	.container {
		width: 100%;
	}
}
@media (max-width: 766px) {
	
}
@media (max-width: 374px) {
	
}

