.brands {
	width: calc(100% - 155px);
	margin-bottom: 75px;
}

.name-wrapper {
	width: max-content;
}
.wrapper-colom-brend {
	display: flex;
	justify-content: space-between;
}
.brands-step:not(.brands-step:last-child) {
	margin-bottom: 24px;
}
.name-brend:not(.name-brend:last-child) {
	margin-bottom: 16px;
}
.name-brend {
	display: block;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
}
.char {
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;

	margin-bottom: 20px;
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: start;
}
@media (max-width: 1100px) {
	.brands {
		width: 105%;
	}
	.wrapper-colom-brend {
		flex-wrap: wrap;
		justify-content: start;
	}
	.name-wrapper {
		width: 25%;
		justify-content: end;
	}
	.name-wrapper:nth-last-of-type(1), .name-wrapper:nth-last-of-type(2) {
		margin-top: 20px;
	}
	.name-brend {
		display: flex;
		
		/* justify-content: end; */
	}
}
@media (max-width: 777px) {
	.brands-header {
		margin-bottom: 32px;
	}
	.brands {
		margin-bottom: 92px;
	}
}
@media (max-width: 700px) {
	.name-wrapper {
		width: 33.33%;
		justify-content: end;
	}
	.name-wrapper:nth-last-of-type(3) {
		margin-top: 20px;
	}
}
@media (max-width: 400px) {
	.brands {
		margin-bottom: 48px;
	}
	.name-wrapper {
		width: 50%;
		justify-content: end;
	}
	.name-wrapper:nth-last-of-type(4){
		margin-top: 20px;
	}
}