.ostankinoTower {
	position: relative;
	/* max-height: 795px; */
	width: 100%;
	/* overflow-y: hidden; */
}
.top-company-way {
	height: 100%;
	width: 1416px;
	padding: 0 12px;
	margin: 0 auto;
}
.ostankinoTower-wrapper-content {
	margin-bottom: 72px;
}
.ostankino-content {
	display: flex;
}
.ostankino-text {
	/* width: 33%; */
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
	text-align: left;
	margin-right: 24px;
}
.scheme {
	flex-wrap: wrap;
	display: flex;
	min-width: 58.65%;
	height: 100%;
}
.content__image {
	display: flex;
}
.scheme > ul {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}
.scheme1 {
	max-width: 100%;
}
.scheme1 > a > img {
	max-width: 100%;
	margin-bottom: 24px;
}
.scheme2 {
	max-width: 42.26%;
}
.scheme2 > a > img {
	max-width: 100%;
}
.scheme3 {
	display: flex;
	max-width: 57.74%;
}
.scheme3 > a > img {
	padding-left: 24px;
	max-width: 100%;
}
.ostankinoTower-wrapper {
	/* overflow-y: hidden; */
	display: flex;
	height: 630px;
	width: 100%;
	align-items: flex-end;
	margin-bottom: 72px;
}
.home-content {
	max-width: 1416px;
	padding: 0 12px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}
.home-heading {
	font-family: 'Roboto Condensed';
	font-size: 48px;	
	font-weight: 700;
	line-height: 56px;
	letter-spacing: -0.04em;
	text-align: left;
	color: #fff;
	text-transform: uppercase;
}
.home-bg-img {
	/* margin-top: 24px; */
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(251, 244, 235);
}
.home-bg-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 1000px) {
	.scheme {
		flex-wrap: wrap;
		display: flex;
		min-width: 53%;
		height: 100%;
	}
}

@media (max-width: 900px) { 
	.scheme > ul {
		flex-direction: column;
	}
	.scheme1 {
		max-width: 100%;
	}
	.scheme2 {
		max-width: 100%;
	}
	.scheme2 > a > img {
		padding-left: 24px;
		max-width: 100%;
	}
	.scheme3 {
		max-width: 100%;
	}
	.scheme3 > a > img {
		padding-left: 24px;
		max-width: 100%;
	}
	.ostankino-content {
		margin-bottom: 48px;
	}
	.ostankinoTower-wrapper {
		margin-bottom: 48px;
	}
	.ostankinoTower-wrapper-content {
		margin-bottom: 48px;
	}
	.scheme {
		min-width: 38.64%;
	}
	.scheme1 {
		max-width: 100%;
	}
	.scheme2 {
		max-width: 100%;
	}
	.scheme3 {
		max-width: 100%;
	}
	.scheme2 > a > img {
		padding-left: 0;
		margin-bottom: 24px;
		max-width: 100%;
	}
	.scheme3 > a > img {
		padding-left: 0;
		max-width: 100%;
	}
}

@media (max-width: 767px) {
	.home-heading {
		max-width: 450px;
	}
}

@media (max-width: 650px) {
	.home-heading {
		max-width: 226px;
	}
	.home-content {
		margin-bottom: 60px;
	}
	.ostankino-text {
	font-size: 16px;
	line-height: 19px;
	}
	.ostankinoTower-wrapper {
		max-height: 620px;
	}
}

@media (max-width: 550px) {
	.scheme {
		min-width: 100%;
	}
	.scheme2 {
		min-width: 100%;
	}
	.scheme3 {
		display: block;
		min-width: 100%;
	}
	.home-heading {
		max-width: 226px;
		font-size: 28px;
	}
	.ostankino-content {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 48px;
	}
	.ostankino-text {
		margin-right: 0;
		margin-bottom: 24px;
	}
	.ostankinoTower-wrapper {
		margin-bottom: 32px;
	}
	.ostankinoTower-wrapper-content {
		margin-bottom: 48px;
	}
	.ostankinoTower-wrapper {
		max-height: 523px;
	}
}