.projects {
	overflow-y: auto;
}
.projects-header {
	color: #212121;
	font-family: 'Roboto Condensed';
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	letter-spacing: -0.04em;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 48px;
}
.projects-steps {
	margin-left: -12px;
	flex-wrap: wrap;
	display: flex;
	margin-bottom: 48px;
}
.projects-steps-2 {
	margin-left: -12px;
	flex-wrap: wrap;
	display: flex;
	margin-bottom: 48px;
}
.projects-step {
	padding-left: 20px;
	padding-bottom: 24px;
	width: 33.33%;
	max-width: 456px;
	max-height: 343px;
}
.projects-img {
	width: 100%;
}
.projects-step > h4{
	text-transform: uppercase;
	padding-top: 16px;
	font-weight: 400;
	font-family: 'Roboto';
	font-size: 24px;
}

.projects-more {
	display: flex;
}
.more {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 14px;
	display: flex;
	margin-left: auto; 
	margin-right: 0;
	text-transform: uppercase;
}
.more > img {
	margin-top: -1px;
	padding-left: 8px;
}

.map {
	padding-bottom: 72px;
}
/* @media (max-height: 744px) {
	.projects {
		margin-top: calc(15vh);
	}
} */


@media (max-width: 766px) {
	.projects-header {
		margin-bottom: 32px;
	}
}
@media (max-width: 700px) {
	.projects-steps {
		justify-content: center;
		align-items: center;
		display: flex;
		flex-wrap: wrap;
	}
	.projects-steps-2 {
		justify-content: center;
		align-items: center;
		display: flex;
		flex-wrap: wrap;
	}
	.projects-more {
		padding-bottom: 0;
	}
	.projects-step {
		margin-left: 0;
		padding-bottom: 24px;
		width: 50%;
	}
	.projects-step + .projects-step {
		margin-left: 0;
		padding-bottom: 24px;
	}
	.projects-step > h4 {
		font-size: 20px;
  }
	.projects-header {
		margin-left: 0;
		font-size: 48px;
	}
	.more {
		font-family: 'Roboto';
		font-weight: 700;
		font-size: 11px;
	}
	.more > img {
		padding: 0;
		width: 13px;
		height: 14px;
		margin-top: -1.5px;
		margin-left: 4px;
	}
	.map {
		width: 180%;
	}
	.map-img {
		clip-path: inset(0 44.5% 0 0);
	}
}
@media (max-width: 500px) {
	.projects-step {
		width: 100%;
	}
	.projects-steps {
		margin-bottom: 24px;
	}
	.projects-steps-2 {
		margin-bottom: 24px;
	}
	.projects-header {
		font-size: 28px;
		line-height: 32px;
	}
	.projects-step {
		padding-left: 12px;
	}
	.map {
		width: 200%;
		padding-bottom: 48px;
	}
	.map-img {
		clip-path: inset(0 50% 0 0);
	}
}