.company {
	min-height: 813px;
	margin: 72px 0;
}
.company-header {
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-size: 48px;
	text-transform: uppercase;
	padding-bottom: 48px;
}
.company-steps {
	display: flex;
	margin-bottom: 32px;
}
.company-step:not(:first-child, .p),
.aaa {
	margin: 0 24px 24px 24px;
}
.company-step > h4 {
	text-transform: uppercase;
	padding-top: 16px;
	font-weight: 400;
	font-family: 'Roboto';
	font-size: 24px;
	max-width: 456px;
}
.company-p {
	max-width: 573px;
	font-weight: 400;
	font-family: 'Roboto';
	font-size: 20px;
}
.box-3 {
	min-width: 817px;
	display: flex;
}