.home {
	position: relative;
	padding: 150px 0;
	max-height: 760px;
}
.home-row {
	display: flex;
	max-height: 872px;
	align-items: center;
}
.home-content {
	max-width: 780px;
}
.home-heading {
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-size: 64px;
	text-transform: uppercase;
	margin-bottom: 24px;
}
.home-btn {
	display: inline-block;
	padding: 16px 43px;
	background-color: #94270F;
}
.btn-bell {
	font-family: 'Roboto';
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
}
.home-img-wrapper {
	padding-left: 181px;
}
.home-img {
	max-width: 456px;
	max-height: 213px;
}
.home-img-wrapper > ul > li + li {
	margin-top: 30px;
}
.home-bg-img {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(251, 244, 235);
}
.home-bg-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 1080px) {
	.home {
		width: 100%;
		padding: 98px 0 71px;
	}
	.home-row {
		flex-direction: column-reverse;
	}
	.home-img-wrapper {
		padding-left: 0;
		padding-bottom: 137px;
	}
	.home-img-wrapper > ul {
		display: flex;
		padding-left: 0px;
	}
	.home-img-wrapper > ul > li + li {
		padding-left: 22px;
	}
	.home-img-wrapper > ul > li + li {
		margin-top: 0;
	}
	.home-content {
		max-width: 100%;
	}
	.home-img {
		width: 100%;
		height: 100%;
	}
}
@media (max-width: 766px) {
	.home-row {
		padding-top: 0;
	}
	.home {
		width: 100%;
	}
	.home-heading {
		font-size: 64px;
		margin-bottom: 22px;
	}
}
@media (max-width: 650px) {
	.home-row {
		padding-top: 0;
	}
	.home {
		width: 100%;
		padding: 9px 0 19px;
	}
	.home-img-wrapper {
		padding: 0;
	}
	.home-img-wrapper > ul {
		display: block;
		padding-left: 0px;
	}
	.home-img-wrapper > ul > li + li {
		padding: 24px 0;
		flex-direction: column-reverse;
	}
	.home-heading {
		font-size: 32px;
		margin-bottom: 22px;
	}
}