.mobile-nav-button {
	display: none;
	cursor: pointer;
	padding: 0;
	border: none;
	background: transparent;

	position: relative;
	z-index: 999;
	width: 24px;
	height: 16px;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1080px) {
	.mobile-nav-button {
		display: flex;
		width: 33%;
		justify-content: end;
	}
}