.projects {
	margin: 72px 0;
}
.projects-header {
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-size: 48px;
	text-transform: uppercase;
	padding-bottom: 48px;
}
.projects-steps {
	display: flex;
}
.projects-step {
	max-width: 456px;
	max-height: 343px;
}
.projects-img {
	width: 100%;
}
.projects-step > h4{
	text-transform: uppercase;
	padding-top: 16px;
	font-weight: 400;
	font-family: 'Roboto';
	font-size: 24px;
}
.projects-step + .projects-step {
	margin-left: 24px;
	margin-bottom: 32px;
}
.projects-more {
	display: flex;
}
.more {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 14px;
	display: flex;
	margin-left: auto; 
	margin-right: 0;
	text-transform: uppercase;
}
.more > img {
	margin-top: -1px;
	padding-left: 8px;
}

@media (max-width: 766px) {
	.projects-header {
		padding-bottom: 32px;
	}
	.projects {
		margin: 48px 0;
		height: 100%;
	}
}
@media (max-width: 700px) {
	.projects-more {
		padding-bottom: 0;
	}
	.projects-step {
		margin-left: 0;
		margin-bottom: 24px;
	}
	.projects-step + .projects-step {
		margin-left: 0;
		margin-bottom: 24px;
	}
	.projects-step:last-child {
		margin-left: 0;
		margin-bottom: 32px;
	}
	.projects-steps {
		display: flex;
		flex-direction: column;
	}
	.projects-header {
		margin-left: 0;
		font-size: 48px;
	}
	.projects {
		padding: 48px 0;
		margin: 0;
		width: 100%;
	}
	.more {
		font-family: 'Roboto';
		font-weight: 700;
		font-size: 11px;
	}
	.more > img {
		padding: 0;
		width: 13px;
		height: 14px;
		margin-top: -1.5px;
		margin-left: 4px;
	}
	.projects-step > h4 {
		font-size: 20px;
  }
}