
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.hero-slider {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
/**/
.hero-slider .carousel-cell {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.hero-slider .carousel-cell .inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.hero-slider .carousel-cell .inner .btn:hover {
	background: #fff;
	color: #000;
}
.hero-slider .flickity-prev-next-button {
	width: 80px;
	height: 80px;
	background: transparent;
}
.hero-slider .flickity-prev-next-button:hover {
	background: transparent;
}

.hero-slider .flickity-page-dots {
	display: flex;
	bottom: 30px;
	align-items: center;
	justify-content: center;
}
.hero-slider .flickity-page-dots .dot {
	width: 10px;
	height: 10px;
	opacity: 1;
	background: rgb(255, 255, 255);
	transition: all 0.5s ease-out;
}
.hero-slider .flickity-page-dots .dot.is-selected {
	width: 16px;
	height: 16px;
}
