.production {
	overflow-y: auto;
	margin-bottom: 72px;
}
.production-steps {
	display: flex;
	margin: 0 120px 0;
}
.production-steps.mini-steps{
	display: flex;
	margin-bottom: 48px;
}
.production-step {
	max-width: 50%;
}
.production-step > p {
	font-weight: 400;
	font-family: 'Roboto';
	font-size: 20px;
}
.production-step + .production-step {
	margin-left: 28px;
}
.production-step > img {
	padding: 36px 0 16px 0;
}
.production-step > img.i2 {
	padding: 0;
}
.production-step > img.i2 + img.i2 {
	margin-top:20px;
}
.production-step > h4 {
	max-width: 456px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Roboto';
	font-size: 24px;
}
.production-img {
	max-width: 100%;
}

@media (max-width: 1200px) {
	.production-steps {
		margin: 0;
	}
	.production-step + .production-step {
		margin-left: 24px;
	}
	.production {
		margin-bottom: 48px;
	}
}
@media (max-width: 765px) {
	.production-step > p {
		font-size: 16px;
	}
	.production-step > h4 {
		font-size: 20px;
	}
	.production-steps:not(:last-child) {
		display: flex;
		margin-bottom: 48px;
  }
  .production-steps.mini-steps{
	display: flex;
	margin-bottom: 32px;
}
.production {
	overflow-y: auto;
	margin-bottom: 48px;
}
}
@media (max-width: 615px) {
	.production-step + .production-step {
		margin-top: 24px;
	}
	.production-step > p {
		margin-bottom: 24px;
  }
  .production-step > p.non-margin {
	margin-bottom: 0;
  }
	.production-step > h4 {
		max-width: 100%;
	}
	.company-header {
		padding-bottom: 32px;
  }
	.production-step {
		max-width: 100%;
	}
	.production-steps {
		flex-direction: column;
	}
	.production-step > img {
		padding: 24px 0 16px 0;
	}
	.production-step + .production-step {
		margin-left: 0;
  }
}